* {
    font-family: sans-serif;
    box-sizing: border-box;
  }
html {
    height: 100%;
  }
body {
      display: flex;
      flex-direction: column;
      min-width: 375px;
    }
header{
    flex: 0 50px;
    background:hsl(130, 100%, 30%);
    text-align: center;
    color:white;
}
footer{
    flex: 0 50px;
    background:hsl(130, 100%, 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}
main{
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.login h2{
    width: 100%;
    background:hsl(130, 100%, 30%);
    color: white;
    text-align: center;
    border-radius: 5px;
}
.login form div{
    margin: 10px;
}

.photo {
    display: flex;
    justify-content: center; /* Centers image horizontally */
    align-items: center; /* Centers image vertically */
    width: 100%; 
    margin-top: 20px;
}

.photo img {
    width: 300px; /* Fixed width */
    height: 300px; /* Fixed height */
    object-fit: cover; /* Ensures it fills the box without stretching */
    border-radius: 10px; /* Optional: rounded corners */
}